* {
  box-sizing: border-box;
}

img{
  border-radius: 20px;
}

button{
  background-color: transparent;
  border-color: transparent;
  
  color:rgb(132, 132, 170);
}
/* 
svg{
  border-color: transparent;
} */